@use '../../../styles/variables.scss';

.label {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1rem;
  width: 100%;
}

.input-box {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border-style: none;
  width: 90%;
  background-color: variables.$fourth-grey;
  color: variables.$first-grey;
}
::placeholder {
  color: variables.$third-grey;
}
.label-span {
  margin: 0 0 0.5rem 0;
}
