@use '../../styles/variables.scss';

.login-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  align-items: center;
  justify-content: center;
  background-color: variables.$ivory;
  height: 100vh;

  .logo {
    width: 80%;
  }

  .tag-line {
    font-size: 1.3rem;
    font-weight: 600;
    color: #444444;
    margin: 1rem 0 2rem 0;
    text-align: center;
    width: 286px;
  }

  .logo-letters {
    width: 80%;
    margin-top: 1.5rem;
  }
}

.login-button {
  background-color: variables.$green;
  border: none;
  width: 80%;
  padding: 1rem 2rem;
  font-size: 1.875rem;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  color: variables.$white;
  &:hover {
    background-color: variables.$green-hover;
  }
  &:active {
    transform: scale(0.9);
  }
}

.signUp {
  font-size: 1.2rem;
  margin: 1rem 0;

  span {
    color: variables.$green;
    cursor: pointer;
    text-decoration: underline dotted 2px;
    font-weight: 700;
  }
}

//Auth loading screen

.auth-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .auth-text {
    margin-top: 1rem;
    font-weight: 600;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid variables.$green;
  border-color: variables.$green transparent variables.$green transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
