/* Error: There is no module with the namespace "variables".
 *   ,
 * 3 |   background-color: variables.$white;
 *   |                     ^^^^^^^^^^^^^^^^
 *   '
 *   src\components\Header\_Header.scss 3:21  @use
 *   src\styles\main.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a   \2577 \a 3 \2502    background-color: variables.$white;\d\a   \2502                      ^^^^^^^^^^^^^^^^\a   \2575 \a   src\\components\\Header\\_Header.scss 3:21  @use\a   src\\styles\\main.scss 3:1                 root stylesheet';
}
