@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #5e5f5e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6fbef;
  max-width: 500px;
  margin: auto;
  height: 100vh;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.app {
  text-align: center;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.header {
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}
.header .avatar {
  padding: 1rem;
}
.header .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header .welcome-msg {
  text-align: left;
}
.header .welcome-msg .welcome-name {
  font-weight: 600;
  color: #2f446a;
}
.header .welcome-msg .catch-phrase {
  font-size: 0.9rem;
  color: #b8b8b8;
}
.header .welcome-msg span {
  font-weight: 700;
  color: #2ecc71;
}

.icon {
  height: 33px;
  padding: 0;
}

.nav-wrapper {
  bottom: 0;
  min-height: 10vh;
  position: sticky;
  display: flex;
  background-color: white;
  object-fit: contain;
  z-index: 20;
}
.nav-wrapper a {
  text-decoration: none;
  color: #5e5f5e;
  font-weight: 600;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: column;
}
.link p {
  margin-top: 7px;
}

.addNewIngredient {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ecc71;
  color: white;
  font-size: 23px;
  font-weight: 700;
  min-height: 59px;
  position: sticky;
  top: 10vh;
  z-index: 20;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0.5rem 0;
}
.card-wrapper:nth-child(2) {
  margin-top: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.main-card {
  display: flex;
}
.main-card img {
  width: 55px;
  margin: 1rem;
}

.expanded-card {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 6rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.showCard {
  display: flex;
}

.hideCard {
  display: none;
}

.expiry-dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.texts .title {
  font-size: 20px;
}
.texts .quantity {
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 600;
}
.texts .expiration-date {
  font-size: 16px;
  font-weight: 500;
  color: #b8b8b8;
}

.expiration {
  display: flex;
  align-items: center;
}

.red {
  background-color: #ff4747;
}

.green {
  background-color: #2ecc71;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.label-input-checkbox {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

.label-input-checkbox .check-box {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.input-checkbox {
  position: absolute;
  visibility: hidden;
}

.label-input-checkbox span:first-child {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  transform: scale(1);
  border: 3px solid #2ecc71;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
  -webkit-tap-highlight-color: transparent;
}

.label-input-checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 22px;
  height: 20px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.label-input-checkbox:hover span:first-child {
  border-color: #2ecc71;
}

.input-checkbox:checked + .label-input-checkbox span:first-child {
  background: #2ecc71;
  border-color: #2ecc71;
  animation: wave 0.4s ease;
}

.input-checkbox:checked + .label-input-checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.label-input-checkbox .check-box-label {
  padding-left: 8px;
  line-height: 18px;
}

.label-mobile {
  display: none;
}

@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.button {
  border-radius: 0.625rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-width: 0;
  padding: 0.8rem 0;
  min-width: 10rem;
  justify-content: center;
  font-weight: 700;
}

.button-icon {
  width: 26px;
  padding-right: 0.5rem;
}

.transparent {
  background-color: transparent;
  border: 1px solid #2ecc71;
}

.red-button {
  background-color: #ff4747;
}

.yellow-button {
  background-color: #ffb547;
}

.green-text {
  color: #2ecc71;
}

.white-text {
  color: #ffffff;
}

.fullLength-button {
  width: 100%;
}

.halfLength-button {
  width: 47%;
}

.main-home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.nav-menu {
  min-height: 10vh;
  background-color: #ffffff;
}

.buttons-container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1rem 0 1.4rem 0;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: center;
  background-color: #f6fbef;
}
.login-wrapper .logo {
  width: 80%;
}
.login-wrapper .tag-line {
  font-size: 1.875rem;
  font-weight: 700;
  color: #000000;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.login-button {
  background-color: #2ecc71;
  border: none;
  width: 80%;
  padding: 1rem 2rem;
  font-size: 1.875rem;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
}
.login-button:hover {
  background-color: #1a974e;
}
.login-button:active {
  transform: scale(0.9);
}

.signUp {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.signUp span {
  color: #2ecc71;
}

.main-recipelist {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-shoppinglist {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-settings {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}


.main-full-recipe {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

/*# sourceMappingURL=main.css.map */
