//Colors
$first-grey: #5e5f5e;
$second-grey: #8c8c8c;
$third-grey: #b8b8b8;
$red: #ff4747;
$green: #2ecc71;
$yellow: #ffb547;
$white: #ffffff;
$ivory: #f6fbef;
$black: #000000;

//Fonts
$main-font: 'Open Sans', sans-serif;
