@use '../../styles/variables.scss';

//Global styles
body {
  margin: 0;
  font-family: variables.$main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: variables.$ivory;
  text-align: center;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
}
