@use '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main-home {
  @include main-container;
}

.nav-menu {
  min-height: 10vh;
  background-color: variables.$white;
}

.buttons-container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1rem 0 1.4rem 0;
  bottom: 10vh;
  position: sticky;

  margin-bottom: 10px;
  z-index: 30;
}

.add-ingredient {
  text-decoration: none;
  position: sticky;
  top: 10vh;
  z-index: 20;
}
