@use '../../styles/variables.scss';

.modal-container {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 30;
  position: absolute;

  .modal {
    background-color: variables.$white;
    width: 90%;
    height: 30%;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(20px);
  }

  .modal-animation-in {
    transition: 0.5s;
    transform: translateY(-20px);
  }

  h1 {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
  }

  .button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 0 1rem 0;
  }
}

.hideModal {
  display: none;
}

.showModal {
  display: flex;
}

.hiddensi {
  visibility: hidden;
  opacity: 0;
}
