@use '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main-shoppinglist {
  @include main-container;
    margin: auto;
  padding: 1rem 0 1.4rem 0;
}


.add-item {
  text-decoration: none;
}