//Font import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

//Variables
$first-grey: #5e5f5e;
$second-grey: #8c8c8c;
$third-grey: #b8b8b8;
$red: #ff4747;
$green: #2ecc71;
$yellow: #ffb547;
$white: #ffffff;
$ivory: #f6fbef;
$font-family: 'Open Sans', sans-serif;

//Imports
@import './components/App/App';
